@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700');

body {
	font-family: 'Open Sans Condensed';
	padding: 20px 30px;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}

@media screen and (max-width: 800px) {
	body {
		padding: 10px;
		overflow-x: hidden;
	}
}
